/target
print_test.py
.cargo
/ailangpy/python
/interpreter-command/build
/interpreter-command/.idea
/interpreter-command/interpreter_command.egg-info
__pycache__
/interpreter-command/onenter.cd
/interpreter-command/onexit.cd
/interpreter-command/uv.lock
/interpreter-command/.python-version
